@import 'base/null';
@import 'base/style';

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 137px;
    height: 100vh;

    // .intro__slider

    &__slider {
        height: 100%;
    }

    // .intro__scroll

    &__scroll {
        bottom: 50px;
    }
}
.slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1800px;

    // .slider__controls

    &__controls {
        button {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            background: #000;
        }
    }

    // .slider__prev

    &__prev {
        left: 30px;

        img {
            margin-right: 2px;
        }
    }

    // .slider__next

    &__next {
        right: 30px;
        img {
            margin-left: 2px;
        }
    }

    // .slider__body

    &__body {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
        }
    }
}
.scroll {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    // .scroll__text
    &__text {
        margin-bottom: 20px;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 22px;
        color: #000;
    }

    // .scroll__image
    &__image {
        width: 18px;
    }
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 15px 50px;

    // .section-title__bg-line

    &__bg-line {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 1px;
        background: #fff;
    }

    // .section-title__heading

    &__heading {
        padding: 0 78px;
        font-weight: 700;
        font-size: 32px;
        text-transform: uppercase;
        background: #191919;
    }
}
.section-text {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
}

.products {
    // .products__product-page
    &__product-page {
        margin-top: 100px;
    }

    // .products__pages
    &__pages {
        margin-top: 120px;
    }
}

.product-page {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 90px 5%;
}
.product-card {
    width: 100%;
    max-width: 302px;

    // .product-card__image
    &__image {
        width: 100%;
    }

    // .product-card__info

    &__info {
        margin-top: 20px;
    }

    // .product-card__title

    &__title {
        margin-bottom: 10px;
        font-size: 28px;
        text-align: center;
    }

    // .product-card__desc

    &__desc {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
    }

    // .product-card__btn

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 45px;
        font-family: 'Roboto';
        font-size: 20px;
        background: $btnBg;
    }
}
.pages {
    // .pages__wrapper
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border-bottom: 1px solid #8C8C8C;
        width: 300px;
    }

    // .pages__item

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 74px;
        height: 56px;
        font-family: 'Mulish';
        color: #fff;
        background: transparent;
    }

    // .pages__arrow

    &__arrow {
    }

    // .pages__active-item

    &__active-item {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 74px;
        height: 3px;
        background: #fff;
    }
}

@import 'blocks/header';
@import 'blocks/footer';
