.product-images {
    display: flex;
    align-items: flex-start;
    position: relative;

    &__items {
        position: relative;
    }
    &__wrapper {
        overflow: hidden;
        max-height: 500px;
    }

    &__items-container {
        display: inline-flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        transition: 0.5s;
    }

    &__items-wrapper {
        flex-shrink: 0;
        width: 85px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;

        &_active {
            border: 3px solid #0a814f;
        }

        img {
            width: 100%;
        }
    }

    &__show-item {
        max-width: 400px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-left: 20px;
        cursor: zoom-in;

        img {
            width: 100%;
        }
    }

    &__btn {
        background: #1d1d1d;
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 20px;

        &.product-images__prev {
            top: -15px;
        }

        &.product-images__next {
            bottom: -10px;
        }

        &_disabled {
            display: none;
        }
    }

    @media screen and (max-width: 900px) {
        grid-column: 1 / 3;
        flex-direction: column-reverse;
        align-items: center;

        &__show-item {
            margin-left: 0px;
        }

        &__items {
            margin-top: 20px;
            width: 100%;
        }

        &__wrapper {
            overflow: auto;
            display: flex;
            justify-content: center;
            &_out {
                justify-content: flex-start;
            }
        }

        &__items-container {
            flex-direction: row;
            transition: 0s;
            margin-bottom: 10px;
        }

        &__btn {
            display: none;
        }
    }
}
