$container: 1300px;
$md1: $container + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

// Шрифт
$SfontFamily: 'Mulish';
$SfontSize: 14px;
$Scolor: #fff;

// Цвета
$bg: #191919;
$navbarBg: #000;
$footerBg: #000;
$headerBg: #1d1d1d;
$btnBg: #0A814F;
$search-formPlaceholderColor: #8C8C8C;
