@import "/src/styles/vars.scss";

.checkbox {
    cursor: pointer;
    &__inner {
        width: 24px;
        height: 24px;
        border: 2px solid $btnBg;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        vertical-align: text-bottom;
        border-radius: 4px;
    }

    &_checked {
        .checkbox__inner {
            background: $btnBg;
            img {
                display: block;
            }
        }
    }

    &__title {
        font-size: 16px;
        line-height: 20px;
    }

    img {
        display: none;
    }
}
