.drop-down {
    width: 320px;
    font-size: 16px;
    position: relative;
    user-select: none;

    &_active {
        .drop-down__header {
            border-radius: 6px 6px 0 0;
        }
        .drop-down__list {
            display: block;
        }
        .drop-down__arrow {
            span::before {
                transform: translateX(-3.5px) rotate(-45deg);
            }
            span::after {
                transform: translateX(3.5px) rotate(45deg);
            }
        }
    }

    &__title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    &__header {
        padding: 0 12px;
        height: 34px;
        border: 1px solid #fff;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__arrow {
        display: flex;
        align-items: center;
        height: 100%;
        span {
            position: relative;
            right: 12px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 10px;
                background: #fff;
                height: 1.5px;
                transition: 0.05s all ease-in-out;
                transform-origin: center;
            }

            &::before {
                transform: translateX(-3.5px) rotate(45deg);
            }
            &::after {
                transform: translateX(3.5px) rotate(-45deg);
            }
        }
    }

    &__list {
        position: absolute;
        width: 100%;
        display: none;
        z-index: 50;
    }

    &__list-item {
        padding: 0 12px;
        min-height: 34px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(15px);
        cursor: pointer;

        &:last-child {
            border-radius: 0 0 6px 6px;
        }
    }
}
